.container {
  width: 86%;
  margin: 0 auto;

  &.containerFull {
    width: 100%;
  }

  &.marginTB {
    margin: 25px auto;
  }

  &.bgColor {
    background-color: var(--primary-bg-color);
    padding: 7%;
    border-radius: 40px;
  }
}
