.releaseTracksWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.releaseTrackList {
  font-size: var(--fz-m);
  text-decoration: none;

  counter-reset: item;
  list-style-type: decimal-leading-zero;

  li {
    margin-bottom: 8px;
    display: flex;
    font-weight: 300;

    &:before {
      display: block;
      content: counter(item, decimal-leading-zero) " ";
      counter-increment: item;
      text-align: center;
      font-size: var(--fz-m);
      margin-right: 10px;
      color: #666;
    }

    span:last-child {
      margin-left: auto;
      color: #666;
    }
  }
}

.releaseListHeader {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnFilter {
  background: none;
  border: none;
  width: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  padding: 4px;

  hr,
  &::before,
  &::after {
    border: none;
    content: "";
    width: 66%;
    height: 3px;
    background-color: #000;
    border-radius: 1.5px;

    transition: all 0.4s ease;
    width: 100%;
  }

  hr {
    width: 66%;
  }
  &::before {
    width: 33%;
  }
  &::after {
    width: 100%;
  }
  &-active {
    hr {
      width: 66%;
    }
    &::before {
      width: 100%;
    }
    &::after {
      width: 33%;
    }
  }
}

.releaseListAlbums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.releaseAlbumItem {
  max-width: 45%;
}
